<!DOCTYPE html>
<html>
  <head>
	<title>Debate</title>
	<%= csrf_meta_tags %>

	<%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
	<%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">
  </head>

  <body>
	<nav class="blue lighten-2">
	  <div class="nav-wrapper">
		<a href="#" class="brand-logo">Debating Society</a>
		<ul id="nav-mobile" class="right hide-on-med-and-down">
		  <li><a href="#">Home</a></li>
		  <li><a href="#">Debate</a></li>
		  <li><a href="#">Sign In / Sign Up</a></li>

		  <% if current_user %>
          		<li><%= image_tag current_user.image_url, alt: current_user.name %></li>
          		<li><%= link_to 'Log Out', logout_path, method: :delete %></li>
        
      		<% else %>
          		<li><%= link_to 'Twitter', '/auth/twitter' %></li>
          		 <% end %>
        		</ul>
     		
	  </div>
	</nav>

  
	<%= yield %>
	  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>
  </body>
</html>
